@page "/catalog/products"
@using MerchanterApp.CMS.Components.Controls

<PageTitle>Products | Merchanter</PageTitle>

@* <h3 class="text-center">Products</h3> *@
<ProductsComponent @rendermode="InteractiveServer" />