@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
    <main>
        <div class="top-row">
            <div class="nav navbar">
                <div class="container-fluid">
                    <h2><a class="navbar-brand" href="/">Merchanter</a></h2>
                </div>
            </div>
            <div class="w-50 text-start fs-6">
                @if (HttpContext != null && HttpContext.User.Identity != null &&
                HttpContext.User.Identity.IsAuthenticated)
                {
                    <a role="button" class="btn btn-outline-secondary" href="Server/Servers">Servers</a>
                    <span class="ps-4"></span>
                    <a role="button" class="btn btn-outline-secondary" href="Account/Customer/Customers">Customers</a>
                    <span class="ps-4"></span>
                    <a role="button" class="btn btn-outline-secondary" href="Account/Customer/SystemNotifications">Notifications</a>
                    <a role="button" class="btn btn-outline-secondary" href="Account/Customer/Logs">System Logs</a>
                }
            </div>
            <div class="w-50 text-end fs-6">
                @if (HttpContext != null && HttpContext.User.Identity != null &&
                HttpContext.User.Identity.IsAuthenticated)
                {
                    <span class="fs-6">Welcome, @HttpContext.User.Identity.Name</span>
                    <a role="button" class="btn btn-outline-secondary" href="Account/Profile">Admin Profile</a>
                    <a role="button" class="btn btn-outline-secondary" href="Account/Logout">Logout</a>
                }
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="10" ShowProgressBar="true" />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    [CascadingParameter]
    protected HttpContext? HttpContext { get; set; }
}