@inherits LayoutComponentBase
@inject IConfiguration configuration

<div class="page">
	<main>
		@if (HttpContext != null && HttpContext.User.Identity != null &&
				HttpContext.User.Identity.IsAuthenticated)
		{
			<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
				<div class="container-fluid">
					<a class="navbar-brand" href="/">Merchanter</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Merchanter</h5>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body">
							<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="Server/Servers">Servers</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="Account/Customer/Customers">Customers</a>
								</li>
								@* <li class="nav-item">
									<a class="nav-link active" aria-current="page" href="Account/Customer/SystemNotifications">Notifications</a>
								</li> *@
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="Account/Customer/Logs">System Logs</a>
								</li>
								<li>
									<hr class="dropdown-divider" />
								</li>
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="Account/Profile">Admin Profile</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="Account/Logout">Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>

			<article class="content px-4">
				@Body
			</article>
		}
	</main>
</div>
<footer class="fixed-bottom bg-primary text-light text-center p-1 border-top">
	<span class="copyright">©2024 CERES Software & Consultancy, All Rights Reserved.</span>&nbsp;&nbsp;&nbsp;
	<small>[Server Pulse: 5secs]</small>&nbsp;&nbsp;&nbsp;
	<small>@((MarkupString)("[Merchanter Server Service Url: <a target='_blank' class='text-decoration-none text-light' href='" + configuration["AppSettings:MerchanterServerUrl"] + "'>" + configuration["AppSettings:MerchanterServerUrl"] + "</a>]"))</small>
</footer>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>


@code {
	[CascadingParameter]
	protected HttpContext? HttpContext { get; set; }
}