<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Merchanter</a>
    </div>
</div>

<input type="checkbox" title="Merchanter Navigation Menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="navbar">
        <ul class="nav nav-pills flex-column nav-link w-100">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span aria-hidden="true"><i class="bi bi-house-heart"></i> Dashboard</span>
                </NavLink>
            </li>

            <AuthorizeView Roles="@Variables.admin_role">
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="javascript:void(0);" @onclick="()=>expandSalesSubNav = !expandSalesSubNav">
                            <span aria-hidden="true"><i class="bi bi-shop"></i>Servers</span>
                        </NavLink>
                        @if( expandSalesSubNav ) {
                            <div class="container-fluid">
                                <NavLink class="nav-link" href="server/servers" Match="NavLinkMatch.All">
                                    <span aria-hidden="true"><i class="bi bi-currency-dollar"></i> Server List</span>
                                </NavLink>
                            </div>
                        }
                    </li>
                </Authorized>
            </AuthorizeView>

            @* <li class="nav-item">
                <NavLink class="nav-link" href="weather" Match="NavLinkMatch.All">
                    <span aria-hidden="true"><i class="bi bi-cloud-lightning"></i> Weather</span>
                </NavLink>
            </li> *@
        </ul>
    </nav>
</div>

@code {
    private bool expandSettingsSubNav;
    private bool expandCatalogSubNav;
    private bool expandSalesSubNav;
}