@page "/account/logout"
@layout EmptyLayout

<PageTitle>Logout | Merchanter</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Logout success.</h1>
        </div>
    </div>
</div>

@code {
    [Inject]
    protected NavigationManager navigationManager { get; set; }
    [Inject]
    IHttpContextAccessor HttpContextAccessor { get; set; }

    protected override async Task OnInitializedAsync() {
        if( HttpContextAccessor != null && HttpContextAccessor.HttpContext != null && HttpContextAccessor.HttpContext.User.Identity != null ) {
            if( HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated ) {
                await HttpContextAccessor.HttpContext.SignOutAsync( Variables.auth_cookie );
                navigationManager.NavigateTo( "/account/logout", true );
            }
            else {
                navigationManager.NavigateTo( "/account/login", true );
            }
        }
    }
}
