@attribute [Authorize]
@page "/server/servers"

<PageTitle>Working Servers | Merchanter</PageTitle>

<div class="text-start w-100">
    <div class="row mt-3">
        <div class="col-12 pb-2 bg-dark text-light rounded-3">
            <ServersComponent />
        </div>
    </div>
</div>

@code {

}
