@attribute [Authorize]
@page "/server/servers"
@using MerchanterApp.CMS.Components.Controls;

<PageTitle>Working Servers | Merchanter</PageTitle>
<h3>Working Servers</h3>

<ServerComponent @rendermode="InteractiveServer" />

@code {

}
