@page "/Account/Logout"
@layout EmptyLayout
@using Microsoft.AspNetCore.Http.Extensions
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager

<PageTitle>Logout | Merchanter</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Çıkış başarılı.</h1>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync() {
        try {
            if (HttpContextAccessor != null && HttpContextAccessor.HttpContext != null && HttpContextAccessor.HttpContext.User.Identity != null) {
                if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated) {
                    await HttpContextAccessor.HttpContext.SignOutAsync(Variables.auth_cookie, new AuthenticationProperties {
                            RedirectUri = UriHelper.Encode(new Uri(NavigationManager.BaseUri))
                        });
                }
            }
        }
        catch (Exception ex) {
            Console.WriteLine(ex.Message);
        }
    }
}
