@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStorage

<PageTitle>Dashboard | Merchanter</PageTitle>
<div class="row mt-3 pb-3">
	<div class="col-md-5 pb-2 bg-light rounded-3">
		<ServersComponent />
	</div>
	<div class="col-md-7 pb-2 bg-light rounded-3">
		<CustomersComponent />
	</div>
</div>
@code {
	public string? CID { get; set; }
}