@inherits LayoutComponentBase

<FluentDesignTheme StorageName="theme" Mode="DesignThemeModes.System" OfficeColor="OfficeColor.Windows" />
<FluentLayout>
    <FluentHeader>
        <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
            <a href="/" class="text-dark"><span class="title">MERCHANTER</span></a>
            <FluentSpacer />
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill"></i>&nbsp;
                    @if (HttpContext != null && HttpContext.User.Identity != null && HttpContext.User.Identity.IsAuthenticated) {
                        <span class="fs-6">@HttpContext.User.Identity.Name</span>
                    }
                    else {
                        <span><span class="fs-6">Hatalı Giriş</span></span>
                    }
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Account/Profile">Hesabım</a></li>
                    <li><a class="dropdown-item" href="/Account/Logs">Olay Günlükleri</a></li>
                    <li><a class="dropdown-item" href="/Account/Logout">Güvenli Çıkış Yap</a></li>
                </ul>
            </div>
        </FluentStack>
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <span class="copyright">©2024-2025 CERES Yazılım & Danışmanlık, Tüm hakları saklıdır.</span>
        <FluentSpacer />
        <a href="#" target="_blank">Merchanter Hakkında</a>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    Bilinemeyen bir hata oluştu!
    <a href="." class="reload">Yenile</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    [CascadingParameter]
    protected HttpContext? HttpContext { get; set; }

    bool open = false;
}