@if (!string.IsNullOrWhiteSpace(@page_message)) {
    <div class="alert" role="alert" style="padding: 16px !important;">
        @page_message
        <FluentButton Type="ButtonType.Button" OnClick="CloseButton" Appearance="Appearance.Neutral" IconStart="@(new Icons.Regular.Size16.Dismiss())"></FluentButton>
    </div>
}
@code {
    [Parameter]
    public string? message_status { get; set; }
    [Parameter]
    public string? page_message { get; set; }

    private async void CloseButton() {
        page_message = string.Empty;
        await Task.CompletedTask;
    }
}
