@attribute [Authorize]
@page "/"
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>Giriş | Merchanter</PageTitle>
<FluentLayout Orientation="Orientation.Horizontal" Width="100%">
    @if (HttpContextAccessor.HttpContext != null && HttpContextAccessor.HttpContext.User.Identity != null && HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated) {
        <FluentLayout Style="max-width:400px;">
            @if (customer_id > 0) {
                <h2>Hoşgeldiniz, @(HttpContextAccessor.HttpContext?.User.Claims.FirstOrDefault(x => x.Type == Variables.person_name)?.Value).</h2>
                <ServerComponent customer_id="@customer_id" />
            }
        </FluentLayout>
        <FluentSpacer />
        <FluentLayout>
        </FluentLayout>
    }
</FluentLayout>

@code {
    public int customer_id { get; set; } = 0;

    protected override void OnInitialized() {
        if (int.TryParse(HttpContextAccessor.HttpContext?.User.Claims.FirstOrDefault(x => x.Type == Variables.customer_id)?.Value, out int CID)) {
            customer_id = CID;
        }
    }
}