@inherits LayoutComponentBase

<main class="form-signin">
	@Body
</main>

<footer class="fixed-bottom bg-primary text-light text-center p-1 border-top">
	<span class="copyright">©2024-2025 CERES Software & Consultancy, All Rights Reserved.</span>
</footer>
@code {

}
