@attribute [Authorize]
@page "/Customer/Logs"

<PageTitle>Customer Logs | Merchanter</PageTitle>

<div class="row mt-3 pb-2">
	<div class="col-12 pb-2 bg-light rounded-3">
		<LogsComponent />
	</div>
</div>

@code {

}
